server {
            listen       30335;
            server_name k8s_monitoring;

            location / {
                            rewrite ^/a/(.*)$ /$1 break;
                            proxy_pass http://192.168.49.2:30093;
                            proxy_set_header host $http_host;
                }
        }