server {
            listen       {{ listen_port }};
            server_name k8s_monitoring_alertmanager;

            location / {
                            rewrite ^/a/(.*)$ /$1 break;
                            proxy_pass http://{{ proxy_pass_ip }}:{{ proxy_pass_port }};
                            proxy_set_header host $http_host;
                }
        }